:root {
  --restvel-red: #ff0000;
  --secundary-white: #ffffff;
  --transparent-white: rgba(255, 255, 255, 0.75);
  --black: #000000;
  --blue: #00a6fb;
  --blue-black: #003554;
  --purple: #6600ff;
  --purple-black: #2f0049;
  --off-white: #faf8f7;
  --background: #e5e5e5;
  /* Fonts */
  --font-firaSans: 'Fira Sans Condensed', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: var(--font-firaSans);
}

h1,
h2 {
  font-weight: bold;
  line-height: 3.8rem;
}

a {
  text-decoration: none;
}

main {
  background: var(--black);
}

.background-images {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.input {
  padding: 8px 0 8px 16px;
  width: 200px;
  height: 36px;
  border: 3px solid #e2e2e2;
  border-radius: 14px;
  font-family: var(--font-firaSans);
  font-size: 1.6rem;
  font-weight: bold;
  outline: none;
}

.input::placeholder {
  color: #e2e2e2;
}

.btn {
  position: relative;
  display: block;
  padding: 3px;
  width: 129px;
  height: 36px;
  border-radius: 15px;
  font-family: var(--font-firaSans);
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}

.btn-primary {
  width: 200px;
  height: 32px;
  border-radius: 20px;
  color: var(--off-white);
}
