/*  -------------register ----------- */

.register {
  width: 100%;
  min-width: 320px;
  max-width: 600px;
  height: 100vh;
  max-height: 615px;
  background-image: url('../assets/images/slide-iron-man-small.jpg');
}

.register-container {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.register__content--logo {
  margin-top: 16px;
  width: 70px;
  height: 35px;
}

.register__content {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  min-width: 288px;
  width: 100%;
  max-width: 320px;
  height: 100%;
  max-height: 460px;
  background-color: var(--off-white);
  border-radius: 30px;
}

.register__content--title {
  width: 100%;
  font-size: 2.8rem;
  font-weight: bold;
  line-height: 2.2rem;
  text-align: center;
}

.register__content--subtitle {
  width: 100%;
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 1.6rem;
  text-align: center;
}

.register__content--form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.register__content--form label input {
  margin: 6px 0;
}

.btn-register {
  margin-top: 16px;
  width: 200px;
  height: 32px;
  background-color: var(--restvel-red);
  border: none;
  border-radius: 20px;
  font-size: 1.8rem;
  font-weight: 500;
}

.divLine {
  margin: 10px 0;
  text-align: center;
  overflow: hidden;
}

.divLineText {
  position: relative;
  margin: 75px;
  padding: 10px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2rem;
  color: var(--black);
}

.divLineText .line-left {
  content: ' ';
  position: absolute;
  top: 50%;
  right: 100%;
  width: 5000px;
  border-bottom: 2px solid var(--black);
}

.divLineText .line-right {
  content: ' ';
  position: absolute;
  top: 50%;
  left: 100%;
  width: 5000px;
  border-bottom: 2px solid var(--black);
}

.register__content--social-media {
  height: auto;
}

.register__content--social-media .btn-social-media {
  margin: 7px 0;
  padding: 5px;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.8rem;
}

.register__content--social-media .social-media-facebook {
  background-color: #1a73e8;
}
.register__content--social-media .social-media-google {
  border: 3px solid #e2e2e2;
  color: var(--black);
}

.register__content--social-media .social-media-facebook img {
  width: 26px;
  margin-right: 5px;
}
.register__content--social-media .social-media-google img {
  width: 24px;
  margin-right: 5px;
}

.register__content--sign-up {
  margin-top: 16px;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.6rem;
}
.register__content--sign-up a {
  font-weight: bold;
  color: var(--black);
}
.register__content--sign-up a:hover {
  text-decoration: underline;
}
